<div class="container">
  <div class="reglist">
    <table class="table table-striped" *ngIf="list.length">
      <thead>
          <th>#</th>
          <th>Name</th>
          <th>Age</th>
          <th>Control</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of list; let i = index" 
            [i]="i" [item]="item"
            (delete)="delete($event)"
            (edit)="edit($event)"
        >
          
        </tr>
      </tbody>
    </table>
    
  </div>
  <br>

  <list-form [listModel]="listModel" [show]="showNew" [submitType]="submitType" (cancel)="cancel()" (save)="save($event)"></list-form>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" (click)="onNew()">Add New</button>
  </div>
</div>
